<h2>What's Chick It Out?</h2>

<h3>Coding Questions By Women, For Women</h3>

<p>Chick It Out provides a space for women to ask all their coding questions and have them answered by other women.</p>

<p> Chick It Out is a community of 1 programmer, just like you, helping each other.
Join them; it only takes a minute. </p>

<p>LBGTQ community and non-binary persons are welcome.</p>
<br><br><br><br><br><br><br><br><br><br>
