<head>
  <link href="https://fonts.googleapis.com/css?family=Audiowide|Exo+2|Roboto" rel="stylesheet">
</head>

<header class="jumbotron header">
  <h1>Chick</h1>
  <h1>It</h1>
  <h1>Out</h1>
  <nav>
    {{#link-to 'index'}}Questions{{/link-to}}
    {{#link-to 'about'}}About{{/link-to}}
    <a href="https://news.google.com/">News</a>
  </nav>
</header>

<div class="container">
  {{outlet}}
</div>


<footer class="jumbotron footer">
  <p>Follow Kinsey on Github:</p>
  <a href="https://github.com/jennifer-kinsey/" target="_blank">
    <img class="github" src="/img/github.png" alt="Follow Me On Github">
  </a>
</footer>
