<h2>{{model.poster}}'s question:</h2>

{{update-message message=model update="update"}}

{{message-detail message=model destroyMessage="destroyMessage" destroyResponse="destroyResponse"}}

{{new-response saveResponse="saveResponse" message=model}}
